<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oy.kanfang">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!--主页面-->
        <activity android:name=".MainActivity">
        </activity>
        <!--欢迎页面-->
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--选择城市页面-->
        <activity android:name=".ChoiceCityActivity"/>
        <!--查看新闻详情页面-->
        <activity android:name=".NewsActivity"/>
        <!---新闻详情评论页面-->
        <activity android:name=".CommentActivity"/>
        <!--新房页面-->
        <activity android:name=".XinFangActivity"/>
        <!--每个楼盘的详情-->
        <activity android:name=".XinLouPanActivity"/>
    </application>

</manifest>